uml/html/namespace-gui.html
<div class='modal' id='namespace-gui' role='dialog' tabindex='-1'>
<div class='modal-dialog' role='document'>
<div class='modal-content'>
<div class='modal-header'>
<h5 class='modal-title'>Namespaces</h5>
<button aria-label='Close' class='close' data-dismiss='modal' type='button'>
<span aria-hidden='true'>
&times;
</span>
</button>
</div>
<div class='modal-body'>
<div class='form-group'>
<label>User ID</label>
<input class='form-control' id='namespace-userid' type='text'>
</div>
<button class='btn btn-primary' id='namespace-load' type='button'>
<span class='spinner-grow' role='status'>
<span class='sr-only'>
Loading...
</span>
</span>
Load Namespace
</button>
<hr>
<div id='namespace-table'>
<span class='spinner-border text-primary' role='status'>
<span class='sr-only'>Loading...</span>
</span>
<table class='table table-stripped'>
<thead>
<th>Prefix</th>
<th>IRI</th>
</thead>
<tbody id='namespace-list'></tbody>
</table>
</div>
</div>
<div class='modal-footer'>
<button class='btn btn-secondary' data-dismiss='modal' type='button'>
Close
</button>
</div>
</div>
</div>
</div>

uml/html/namespace-gui.haml
#namespace-gui.modal(tabindex="-1" role="dialog")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        %h5.modal-title Namespaces
        %button.close(type="button" data-dismiss="modal" aria-label="Close")
          %span(aria-hidden="true")
            &times;

      .modal-body
        .form-group
          %label User ID
          %input#namespace-userid.form-control(type="text")

        %button#namespace-load.btn.btn-primary(type="button")
          %span.spinner-grow(role="status")
            %span.sr-only
              Loading...
          Load Namespace

        %hr

        #namespace-table
          %span.spinner-border.text-primary(role="status")
            %span.sr-only Loading...

          %table.table.table-stripped
            %thead
              %th Prefix
              %th IRI
            %tbody#namespace-list
          
      .modal-footer
        %button.btn.btn-secondary(type="button" data-dismiss="modal")
          Close
